@page
@model MyApp.Namespace.HollidayModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index.css">
    <title>Document</title>
</head>

<body>
    <h1>Święta i po Świętach</h1>
    <div><a asp-page="Index">Wróć na główną stronę</a></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quas inventore labore nesciunt blanditiis, sequi
        totam, adipisci officiis provident quisquam atque sapiente nemo perferendis laboriosam neque, doloremque velit
        dicta quod!</p>

    <pre>
            1. Cicha noc, święta noc
            pokój niesie ludziom wszem.
            A u żłóbka Matka Święta
            czuwa sama uśmiechnięta
            nad Dzieciątka snem. x2
            2. Cicha noc, święta noc.
            Pastuszkowie od swych trzód
            biegną wielce zadziwieni,
            za anielskich głosem pieni,
            gdzie się spełnił cud. x2
            3. Cicha noc, święta noc.
            Narodzony Boży Syn –
            Pan wielkiego majestatu,
            niesie dziś całemu światu
            odkupienie win. x2
            4. Cicha noc, święta noc,
            jakiż w tobie dzisiaj cud,
            w Betlejem Dziecina święta
            wznosi w górę swe rączęta,
            błogosławi lud. x2
        </pre>

       <div>
        <table>
            <thead>
                <tr>
                    <th>Lp</th>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Właściciel</th>                    
                </tr>
            </thead>
            <tbody>
                @{int lp = 0;}
                @foreach(var g in @Model.Gifts){
                    lp++;
                    <tr>
                        <td class="right">@lp</td>
                        <td>@g.Name</td>
                        <td class="right">@g.Price zł</td>
                        <td>@g.Owner</td>
                    </tr>
                }
            </tbody>
        </table>
       </div> 
</body>

</html>