@model List<Car>

<h1>Lista samochodów</h1>
<div >
    <a class="btn btn-primary" asp-action="Insert">Dodaj nowy samochód</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th><a asp-action="SortByModel">Model</a></th>
            <th>Rok produkcji</th>
            <th >Cena</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int lp = 0;}
        @foreach(var c in Model){
            lp++;
            <tr>
                <td>@lp</td>
                <td>@c.Model </td>
                <td>@c.Year</td>
                <td class="text-end">@c.Price</td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@c.Id">Usuwanie</a>
                    <a class="btn btn-secondary" asp-action="Update" asp-route-id="@c.Id">Zmień</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>